body {
    font-size: 20px;
    width: 700px;
    background-color: azure;
}

h1 {
    font-size: 35px;
    text-align: center;
    margin-top: 100px;
}

.todoList {
    margin-left: 190px;
    width: 1200px;
    border-collapse: collapse;
    border: solid;
    border-width: 4px;
}

td,th {
    border: 1px solid;
    padding-left: 10px;
}

tr {
    height: 60px;
    font-size: 20px;
}

th {
    background-color: rgb(240,240,240);
    font-size: 35px;
}

tr:nth-child(even){
    background-color: rgb(230,230,230);
}

tr:nth-child(odd){
    background-color: white;
}
